.header-title {
  padding-top: 25px;
  font-family: 'Work Sans', sans-serif;
}

.header-para {
  font-family: 'Edu QLD Beginner', cursive;
}

.header-class {
  text-align: center;
  padding: 30px;
}

.work-exp {
  font-family: 'Noto Sans', sans-serif;
}

p {
  margin-bottom: 1px;
}

.work-exp .small-text {
  font-size: 14px;
}

.skill-class {
  text-align: center;
  line-height: 2.5;
}

.skill-class h3 {
  font-family: 'Lato', sans-serif;
}

.skill-class .bt-class {
  background-color: #5e7676;
  border: none;
  font-weight: bold;
  font-family: monospace;
  pointer-events: none;
}

.box {
  padding: 20px;
  margin: 40px;
  border-radius: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body, .col-lg-12, .container-fluid {
  margin: 0;
  padding: 0;
}

.quote {
  text-align: center;
  font-family: 'Edu QLD Beginner', cursive;
  padding: 50px;
}

.edu-proj h5 {
  padding-bottom: 0;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bolder;
}

.edu-proj p {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.edu-proj h3 {
  font-family: 'Lato', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  text-align: center;
  margin: 0;
}

.projects-class {
  font-family: 'Noto Sans', sans-serif;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.project-items {
  width: 60%;
  margin-left: 20%;
  padding-bottom: 40px;
}
