.header-title {
  padding-top: 25px;
  font-family: 'Work Sans', sans-serif;
  font-size: xx-large;
  font-weight: 600;
  letter-spacing: 2px;
}

.header-para {
  font-family: 'Edu QLD Beginner', cursive;
}

.header-class {
  text-align: center;
  padding: 5px;
  color: white;
}

.header-image {
  position: relative;
  width: 100%;
}

.layer {
    background-color: #fbfbf9b3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.work-exp {
  font-family: 'Noto Sans', sans-serif;
}

.work-exp h3 {
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  background-color: #DFDFDE;
}

p {
  margin-bottom: 1px;
}

.work-exp .small-text {
  font-size: 14px;
}

.skill-class {
  text-align: center;
  line-height: 2.5;
}

.skill-class h3 {
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  background-color: #DFDFDE;
}

.skill-class .bt-class {
  /* background-color: #5e7676; */
  background-color: #5b9d9d;
  border: none;
  font-weight: bold;
  font-family: monospace;
  pointer-events: none;
}

.box {
  /* padding: 20px; */
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px 20px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.det {
  padding: 20px;
}

body, .col-lg-12, .container-fluid {
  margin: 0;
  padding: 0;
}

.quote {
  text-align: center;
  font-family: 'Edu QLD Beginner', cursive;
  padding: 50px;
}

.edu-proj h5 {
  padding-bottom: 0;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bolder;
}

.edu-proj p {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.edu-proj h3 {
  font-family: 'Lato', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
  background-color: #DFDFDE;
  color: black;

}

.projects-class {
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 15px;
  text-align: center;
  color: white;
}

.project-items {
  width: 60%;
  margin-left: 20%;
  padding-bottom: 40px;
}

.bg-col {
  /* background-color: #bcbf67; */
  /* background-color: #e1e576; */
  /* background-color: #FFE69A; */
  /* background-color: #FFD24C; */
  /* background-color: #92B4EC; */
  background-color: #FFB4B4;
  background-color: #FF6464;
  background-color: white;
}

.bg-colw {
  background-color: white;
}

.bg-coly {
  background-color: #FFE69A;
}

.bg-colb {
  background-color: #92B4EC;
}

.bg-colp {
  background-color: #ff4c68;
}

.bg-colp2 {
  background-color: #ef8172;
}

.row {
  justify-content: center;
  /* align-items: center; */
  /* margin-bottom: 60px; */
}

.col-lg-3, .col-md-3, .col-sm-3, .col-xs-3, .col-lg-4, .col-md-4, .col-sm-4,
 .col-xs-4, .col-lg-6, .col-md-6, .col-sm-6, .col-xs-6, .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.no-pad-marg {
  padding: 0;
  margin: 0;
}

hr {
  border-style: dotted;
  border-width: thick;
  border-bottom: none;
  width: 20%;
  margin: 0;
  margin-left: 40%
}
